doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Se ha perdido tu mascota encuentrala o ayuda a encontrar otras, red social en busqueda de mascotas perdidas")
        meta(name="robots", content="index, follow")
        title Buscando a Bruno
        link(rel="stylesheet", href="../../STYLES/CSS/styles.css")
        link(rel="icon", href="")
    body 